<div class="container">
  <div class="row">
    <div class="col-6 sidebar">
      <ul class="list-group">
      <% @files.each do |file| %>
        <li class="list-group-item">
          <span style="padding-left:<%= file[:depth] * 20 %>px;"><img src="<%= file[:icon_link] %>" />
            <%= link_to file[:title], googledrive_get_docs_path(ajax_handler: 'handle_name1', id: file.id), remote: true %>
            <a href="<%= file[:web_view_link] %>" target="_blank">
              <span class="glyphicon glyphicon-new-window"></span>
            </a>
          </span>
        </li>
      <% end %>
      </ul>
    </div>
    <div class="col-6 offset-6">
      <div id="ajax-response-wrapper" />
    </div>
  </div>
</div>
